<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>

<body>
To jest home.html

<!--    <form method="post" th:action="/" th:object="${product}">-->
<!--        <h2>Dodaj produkt do listy</h2>-->
<!--        Nazwa: <input type="text" name="name" th:field="*{name}"><br/>-->
<!--        Cena: <input type="number" name="price" th:field="*{price}"><br/>-->
<!--        <input type="submit" value="Dodaj">-->
<!--    </form>-->
</body>
</html>