<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="margin-left: 10px">
<div>
    <h2>Menu</h2>
    <a href="/list">Lista Produktów</a>
    <a href="/table">Tabela Produktów</a><br/>
</div>

<h2>Dodaj produkt do listy</h2>
<div style="margin-right: 85%">
    <form method="post" th:action="@{/}"  th:object="${product}">
        <div class="form-group">
        Nazwa: <input type="text" class="form-control" name="name" required th:field="*{name}"><br/>
        Cena: <input type="number" step="any" class="form-control" name="price" required th:field="*{price}"><br/>
        <input type="submit" class="btn btn-primary" value="Dodaj">
        </div>
    </form>
</div>
</body>
</html>